aiohttp
aiosignal
annotated-types
anthropic
anyio
attrs
certifi
charset-normalizer
cohere
dataclasses-json
distro
filelock
frozenlist
fsspec
h11
httpcore
httpx
huggingface-hub
idna
jsonargparse
jsonpatch
jsonpointer
langchain
langchain-community
langchain-core
langsmith
langchain_openai
langchain_anthropic
langchain_cohere
marshmallow
multidict
mypy-extensions
numpy
openai
packaging
pydantic
pydantic_core
python-dotenv
PyYAML
regex
requests
sniffio
SQLAlchemy
tenacity
tiktoken
tokenizers
tqdm
typing-inspect
typing_extensions
urllib3
yarl
pytest
transformers